body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-color: darkgray;
    }

  .container {
    background-color: #FOF3BD;
    padding: 20px;
  }

  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: black;
    text-align: center;
    background: #02C39A;
  }

.headshot {
  Width: 100%;
  }

  .port1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300;
    height: auto;
  }

.port {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.portImg{
  width: 100%;
}

/* Bottom right text */
.portTitle {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  background:#02C39A;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#pName {
  margin-bottom: 0px;
}


  footer {
    background-color: gray;
    text-align: center;
    font: white;
  }

nav {
    background-color:white;
    font: darkgray;
    text-align: center;
    margin-bottom: 20px;
  }
